body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background-image: url("background.png");
}

#counter {
  background-color: gray;
  opacity: 0.5;
  width: 15vw;
  height: 10vh;
  position: fixed;
  margin: auto;
}

#end {
  background-color: rgb(50, 50, 50, 0.8);
  width: 40vw;
  height: 60vh;
  padding: 30px;
  position: fixed;
  display: none;
  
  /*center on page*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#end_head {
  font-size: 50px;
  text-align: center;
}

#end_score_head {
  text-align: center;
}

button{
  display:inline-block;
  padding:0.7em 1.4em;
  margin: auto;
  border-radius:0.15em;
  box-sizing: border-box;
  
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  
  /*text*/
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-weight: bold;
  text-decoration:none;
  text-transform:uppercase;
  
  /*center button*/
  left: 50%;
  transform: translate(-50%);
}

button:hover{
  top:0.1em;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background-image: url("background.png");
}

#counter {
  background-color: gray;
  opacity: 0.5;
  width: 15vw;
  height: 10vh;
  position: fixed;
  margin: auto;
}

#end {
  background-color: rgb(50, 50, 50, 0.8);
  width: 40vw;
  height: 60vh;
  padding: 30px;
  position: fixed;
  display: none;
  
  /*center on page*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#end_head {
  font-size: 50px;
  text-align: center;
}

#end_score_head {
  text-align: center;
}

button{
  display:inline-block;
  padding:0.7em 1.4em;
  margin: auto;
  border-radius:0.15em;
  box-sizing: border-box;
  
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  
  /*text*/
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-weight: bold;
  text-decoration:none;
  text-transform:uppercase;
  
  /*center button*/
  left: 50%;
  transform: translate(-50%);
}

button:hover{
  top:0.1em;
}